body{
	background-color: #efeced;
	margin:0;
/*	height:2000px;*/
}
/*---------Div Styles----------*/
#menu{
  height: 80px;
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: #cac1c5;
  width: 100%;
  opacity: 0.95;
  display: flex;
  align-items: center;
/*	box-shadow: 0px 9px 10px 0.5px rgba(0,0,0,0.75);*/
}

.div-text{
	width: 100%;
}

#maindiv-01{
/*	height:700px;*/
	width:100%;
/*	background-color: #e3dfe1;*/
}

/*---------Text Styles----------*/
.center{
	text-align: center;
  margin:0;
}

.title{	
  font-family: 'Noto Sans', sans-serif;
  color: #4b3a41;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.02em;
}

.body{
	font-family: 'Noto Sans SC', sans-serif;
  color: #4b3a41;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8em;
  margin: 1% 30%;
}


/*---------Image/Video Styles----------*/
.logo-img{
  width: 35px;
  margin: 50px;
}

.logo-gif{
	width:170px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top:140px;
}

.video{
	display: block;
	margin: 150px auto;
}


