body {
  overflow:hidden;
  margin:0;
}

text {
  font-family: 'Noto Sans SC', sans-serif;
  pointer-events: none;
}

#left-side-panel{
  float:left;
  width:70%;
  overflow: hidden;
}
#right-side-panel{
  float: right;
  width: 30%;
  height: 1000px;
  background-color: white;
}
#container{
  padding-top:70px;
}
