body{
	margin:0;
  position: relative;
}

/*---------Top Menu Styles----------*/
#menu{
  height: 70px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  opacity: 0.97;
  display: flex;
  align-items: center;
  z-index: 10;
}


.menu-items{
  width:100%;
  margin-right: 50px;
}


/*.menu-item-txt{
  font-family: 'Noto Sans SC', sans-serif;
  color: #4b3a41;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 1.8em;
}*/



/*---------Document Text Styles----------*/
